$white: #fdfdfd;
$black: #fdfdfd;
$grey_dark : #6c6f81;
$grey_medium: #afb2bd;
$grey_light: #f8f9fa;
$blue: #56bff1;
$blue_dark: #18406c;
$red: #e46464;
$green: #259d58;

$fontMontserrat: 'Montserrat', sans-serif;