<section class="user-info">
  <div class="row align-items-center">
    <div class="user-profile-icon"><i class="fa fa-user-circle {{userData[0].status == 2? 'text-blue' : userData[0].status ==  3 ? 'text-red' : 'text-green'}}" aria-hidden="true"></i></div>
    <div class="user-details">
      <div class="user-name text-blue-dark"><strong>{{userData[0].name}}</strong></div>
      <div class="col-lg-6 col-md-6 user-designation pl-0 text-grey"><strong>Designation</strong></div>
    </div>
  </div>
</section>