<section class="custom-container dashboard-wrapper">
  <app-user-info [userData]="user"></app-user-info> 
  <ngb-tabset class="custom-tabs-style" #statusTabs activeId="{{activeTab}}" (tabChange)="getActiveTab($event.nextId, $event)">
    <ngb-tab *ngFor="let tab of tabNames" id="{{tab.friendlyName}}">
      <ng-template ngbTabTitle>
        <div (click)="getTabName(tab.friendlyName)">
          <i class="fa {{tab.className}}" aria-hidden="true"></i>
          <div class="tab-title">{{tab.friendlyName}} <strong>({{tab.count}})</strong> </div>
        </div>
      </ng-template>
      <ng-template ngbTabContent>
        <div class="tab-title">{{tab.friendlyName}} <strong>({{tab.count}})</strong></div>
        <table class="table table-striped task-list-table">
          <thead class="thead-dark">
            <tr>
              <th></th>
              <th>Description</th>
              <th class="task-status">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ticket of result | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;">
              <td><i class="fa fa-circle {{ticket.status == 1 ? 'text-green' :( ticket.status == 2 ?  'text-blue' : 'text-red')}}"></i></td>
              <td>
                {{ticket.description}}
                <div class="task-status-mobile text-right select-wrapper" >
                  <select class="{{(ticket.status ==1 ) ? 'bg-green' : (ticket.status == 2) ? 'bg-blue' : 'bg-red'}} " [(ngModel)]="ticket.status" (change)="updateStatus(ticket, tab.friendlyName)">
                    <option value="{{option.id}}" *ngFor="let option of status" selected="{{option.id}}">{{option.friendlyName}}</option>
                  </select>
                </div>
              </td>
              <td class="task-status">
                <div class="select-wrapper"> 
                  <select class="{{(ticket.status ==1 ) ? 'bg-green' : (ticket.status == 2) ? 'bg-blue' : 'bg-red'}} " [(ngModel)]="ticket.status" (change)="updateStatus(ticket, tab.friendlyName)">
                    <option value="{{option.id}}" *ngFor="let option of status" selected="{{option.id}}">{{option.friendlyName}}</option>
                  </select>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <ngb-pagination class="d-flex justify-content-end custom-pagination" [(page)]="page" [pageSize]="pageSize" [collectionSize]="result.length" [(page)]="page" aria-label="Default pagination"></ngb-pagination>

        <ngb-alert class="custom-alert" *ngIf="successMessage" type="success" (close)="successMessage = ''">{{ successMessage }}</ngb-alert>
      </ng-template>
    </ngb-tab>
</ngb-tabset>

</section>